.ipynb_checkpoints/
__pycache__/
Data/*.cnt
Data/*.json
Data/*.json.backup
Data/*.txt
Discord/Changes/*.json
Discord/Data/*.csv
Discord/Data/*.json
Discord/Images/*/*
Discord/Temp/*.jpg
Discord/Temp/*.png
Download/*.json
Frogmorton/imagesCustom/*.jpg
Frogmorton/imagesCustom/*.png
Frogmorton/imagesIcons/*.png
Frogmorton/imagesRaw/*.jpg
Frogmorton/imagesRaw/*.png
Frogmorton/XML/*.xml
imagesEons/*/*/*
imagesTTS/*/*
Output/*/*/*
Output/Scripts/*.csv
Output/Scripts/*.json
Output/Scripts/*.sh
Renderer/Fonts/*.ttf
Renderer/Fonts/*.TTF
Renderer/GeneratedImages/*.jpg
Renderer/GeneratedImages/*.png
Renderer/GeneratedImages/*.json
Renderer/Icons/*.png
Renderer/Output/generate_dragncards.txt
Renderer/Output/*.html
Renderer/Output/*.jpg
Renderer/node_modules/
Renderer/package.json
Renderer/package-lock.json
setEons/*.xml
setEons/*.xml.old
setOCTGN/*.xml
setOCTGN/*.xml.old
Temp/*.json
Temp/*.txt
Temp/*/*
urlCache/*.cache

configuration.yaml
discord.yaml
Drive
env_health_check.txt
env_uuid.txt
env_uuid_remote.txt
id_rsa
internet_state
mail.yaml
mails
makeCards_FINISHED
mpc_monitor.json
mpc_monitor.lock
mpc_monitor_cookies.json
pipeline_STARTED
remote_logs_path.txt
replace_cmyk_card_backs.txt
REPROCESS_ALL
ringsdb_prod_cookies.json
ringsdb_test_cookies.json
run_setup.bat
run_cleanup.bat
runBeforeSE_STARTED
scheduled_backup.json
setGenerator.seproject
setGenerator_CREATED

*.icc
*.log
*.swp
~*.*
