.ipynb_checkpoints/
__pycache__/
Discord/users.csv
Discord/*.json
Discord/Changes/*.json
Discord/Images/*/*
Discord/Temp/*.jpg
Discord/Temp/*.png
Download/*.json
Frogmorton/imagesCustom/*.jpg
Frogmorton/imagesCustom/*.png
Frogmorton/imagesIcons/*.png
Frogmorton/imagesRaw/*.jpg
Frogmorton/imagesRaw/*.png
Frogmorton/XML/*.xml
imagesEons/*/*/*
imagesTTS/*/*
internet_state
mails
Output/*/*/*
Output/Scripts/*.csv
Output/Scripts/*.json
Output/Scripts/*.sh
Renderer/Fonts/*.ttf
Renderer/Fonts/*.TTF
Renderer/GeneratedImages/*.jpg
Renderer/GeneratedImages/*.png
Renderer/GeneratedImages/*.json
Renderer/Icons/*.png
Renderer/Output/generate_dragncards.txt
Renderer/Output/*.html
Renderer/Output/*.jpg
Renderer/node_modules/
Renderer/package-lock.json
setEons/*.xml
setEons/*.xml.old
setOCTGN/*.xml
setOCTGN/*.xml.old
Temp/*/*
urlCache/*.cache

check_ringsdb_alep_decks.json
configuration.yaml
discord.yaml
download_time.txt
dragncards.json
dragncards_folder.txt
dragncards_timestamps.json
expire_dragncards.json
generate_dragncards.json
generate_dragncards.json.backup
id_rsa
last_remote_cron_timestamp
mail.yaml
makeCards_FINISHED
monitor_discord_changes_TRIGGERED
monitor_remote_pipeline.json
mpc_monitor.json
pipeline_STARTED
remote_logs_path
reprocess.cnt
REPROCESS_ALL
ringsdb.json
ringsdb_cookies.json
ringsdb_prod_cookies.json
ringsdb_stat.json
run_setup.bat
run_cleanup.bat
runBeforeSE_STARTED
sanity_check.txt
scheduled_backup.json
setGenerator.seproject
setGenerator_CREATED
sheets.json
*.icc
*.cnt
*.lock
*.log
*.swp
~*.*
