tasklist /fi "ImageName eq googledrivesync.exe" /fo csv 2>NUL | find /I "googledrivesync.exe">NUL
if "%ERRORLEVEL%"=="1" (
  cd /D "C:\Program Files\Google\Drive\"
  start /B googledrivesync.exe
  cd /D "%~dp0"
)